main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

a {
  text-decoration: none;
}

/* backdrop dark for image */
.darkening{
  filter: brightness(30%);
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%);
}

/* hovering menu */
.hovering{
  text-decoration: none;
  color:white;
  place-self:center;
}
.hovering:hover,
.active{
  color: black
}

/* hovering gambar*/
.gambar:hover{
  transition: all;
  transition-duration: 0.5s;
  transform: scale(1.05);
}
